# Core functionality - changes here should be rare!
/src/app.py                   @MrMadHatt
/src/backend/database.py      @MrMadHatt
/src/backend/routers/auth.py  @MrMadHatt

# The frontend will need refactored soon to be more object oriented.
/src/static/   @MrMadHatt
